@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

:root {
    --cor_ciano: #4ffcff;
    --cor_bg: rgb(255, 248, 230);
}


/* Mobile FIRST */

body {
    min-height: 100dvh;
    background-color: var(--cor_bg);

}

h1, h2, p, span {
    color: white;
}

.top-btn {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    min-width: 140px;
    width: 100%;
    
    /* border-radius: 0px 0px 20% 20%; */
}

.navbar { 
    max-width: 1200px;
    width: 95vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* border-bottom: 2px solid rgba(255, 255, 255, 0.4); */
    padding: 16px 40px 20px 40px;
    /* border-radius: 0 0 90% 90%; */
    border-radius: 0 0 15% 15% / 0 0 100% 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--cor_bg);
      
}

.menu-burger {
    position: relative;

    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px; 
}

.menu-burger span {
    width: 27px;
    height: 2.5px;
    background-color: rgb(0, 0, 0);
}

/* Aumentar área de clique */
.menu-burger.active {
    padding: 15px 8px;  
    
}

.menu-burger.active span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);  
    transition: .3s;
}
.menu-burger.active span:nth-child(2) {
    opacity: 0;
}

.menu-burger.active span:nth-child(3) {
    position: absolute;
    transform: rotate(135deg);
    transition: .3s;
}

.logo-box {
    order: -1;
    padding: 10px;  
}

.logo  {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.header-box-icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.search-icon {
    display: block;
    width: 28px;
    height: 28px;
    fill: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px;
}

.menu-items {
    position: fixed;
    top: -50px;
    left: -100%;
    width: 80%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* align-items: start; */
    gap: 30px;

    padding: 50px 30px;
    background-color: var(--cor_bg);
    border-top-right-radius: 20%;
    opacity:0;
    pointer-events: none;
    transition: .3s;
}

.menu-items::before {
    content: '';
    position: absolute;
    top: -100px; /* Tamanho do raio */
    left: 0px;
    width: 80%;
    height: 100px;
    /* background-color: rgba(245, 222, 179, 0.3); */
    /* Cria o canto invertido com box-shadow */
    border-radius: 0 0 0 15% / 0 0 0 60%;
    /* border-bottom-left-radius: 20%; */

    /* border-radius: 0 0 15% 15% / 0 0 100% 100%; */
    
    box-shadow: -30px 30px 0 0 var(--cor_bg); /* Cor igual ao fundo */
}

.menu-items.active {
    top: 21%;
    pointer-events: all;
    opacity: 1;
    left: 0;  
}

.menu-items li {
    width: 100%;
    /* background-color: #4ffcff; */
}

.menu-items a {
    display: inline-block;
    border-radius: 0 0 0 10px;
    padding: 20px 10px; 
    color: black;
    font-size: 1rem;
    /* background-color: aliceblue; */
    width: 90%;
    
    border-bottom: 1px solid rgba(0, 0, 0, .1);  
    cursor: default;
}

.main {
    min-height: 100vh;
    background-image: url("../images/sand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* SECTIONS */

.section {
    z-index: 1;
    /* padding: 20px;  */
}

.hero-section {  
    background-color: rgb(64, 134, 105);
    background-image: url(../images/background-hero-big.jpg);
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 
    inset 5px 0px 50px rgb(0, 0, 0),
    inset -5px 0px 50px rgb(0, 0, 0);
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding: 90px 0px 20px 0px; */
    box-shadow: 0px 5px 35px black;
}

.shadow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), transparent, transparent 90%, rgb(0, 0, 0));
    z-index: 2;
    
    box-shadow: inset 0px -2px 5px rgb(214, 197, 151);
    pointer-events: none;    
}

.hero-content {
    margin: 100px 0px 20px 0px;
    z-index: 3;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 16px;

    /* background-image: radial-gradient(circle 400px, transparent 80%, white); */
            
}

.hero-title {
    text-align: center;
    font-size: clamp(1.5rem, 10vw, 3.5rem);
    color: var(--cor_ciano); 
    text-shadow: -5px 15px 5px rgba(0, 0, 0, 0.3);
}

.hero-title span {
    display: block;
    font-size: clamp(2rem, 20vw, 10rem);
    margin-top: -10px;
}

.hero-paragraph {
    font-size: clamp(1rem, 2vw, 1.2rem);
    max-width: 80%;
    line-height: 1.3rem;
    text-align: center;
}

.hero-btn {
    border: 1px solid var(--cor_ciano);
    backdrop-filter: blur(2px);
    padding: 10px; 
    margin-top: 30px;

    max-width: 300px;
    height: 60px;
    width: 80%;

    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: -5px 10px 5px rgba(0, 28, 29, 0.3);

    cursor: pointer;
    background: linear-gradient(to right, var(--cor_ciano) 50%, transparent 50%);
    background-position: right;
    background-size: 200%;
    transition: background-position 0.4s ease-out, color 0.4s;
    color: white;
}

.hero-btn:hover {
    background-position: left bottom;
}

.tour-section {
    /* background-color: var(--cor_bg);  */
    /* background-image: url("../images/sand.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */

    position: relative;
    z-index: 0;  
    padding: 30px 0px;
    box-shadow:inset 0px -10px 15px rgba(0, 0, 0, 0.5);
}

.container-tour{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.tour-title {
    font-size: 2rem;
    color: var(--cor_bg); 
    z-index: 5; 
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

    background-color: var(--cor_ciano);
    border-radius: 30% 30%/ 100% 100%;
    padding: 15px 70px;
    border: 3px solid var(--cor_ciano);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.2);
}

.line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;

    font-size: 2.3rem;
    color: var(--cor_bg);
    background-color: var(--cor_ciano);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
}


.card-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
    z-index: 50;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding-bottom: 20px;

    min-width: 200px;
    max-width: 400px;
    width: 60%;
    height: 300px;

    box-shadow: inset 0px 0px 5px rgb(0, 17, 17);
    box-shadow: -30px 30px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--cor_ciano);

    transition: .3s;
    cursor: pointer;

    border-radius: 20px;
}

.card span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.card-title, 
.card span {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.card-1 {
    background-image: url(../images/cards/card-1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;  
}
.card-2 {
    background-image: url(../images/cards/card-2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;   
}
.card-3 {
    background-image: url(../images/cards/card-3.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;   
}
.card-4 {
    background-image: url(../images/cards/card-4.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;  
}

.about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;

    background-image: url(../images/trilha.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; 

    border-top: 5px solid var(--cor_ciano);
    border-bottom: 5px solid var(--cor_ciano);  
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 2;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center; 
    z-index: 5;  
    width: 90%;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}



.about-content-container img {
    width: 100%;
    max-width: 600px;
    height: 350px;
    border: 2px solid var(--cor_ciano);
    box-shadow: 0px 0px 13px rgb(0, 82, 85);
    object-fit: cover;
    border-radius: 10px;
}

.about-title {
    color: var(--cor_ciano);
    font-size: 2rem;
}

.about-content-container p {
    font-size: 1.2rem;
    width: 100%;
    max-width: 700px;
    font-weight: lighter;  
}

.about-content-container p:nth-child(1){
    color: var(--cor_bg);
    font-size: 2rem;
    font-weight: normal;
    
}
.about-content-container p:nth-child(2){
    font-size: 1rem;
    line-height: 1.8rem;
      
}

.about-content-container p:nth-child(4){
    color: var(--cor_bg);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    background-color: var(--cor_bg);
}

.social-medias {
    display: flex;
    gap: 30px;
}

.social-medias img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

/* OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 800;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

body:has(.menu-burger.active) .overlay {
    opacity: 1;
    pointer-events: all;   
}

body:has(.menu-burger.active){
    overflow: hidden;
}








/* Pequenos Ajustes Mobile */
@media screen and (min-width: 320px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0 0 10% 10% / 0 0 100% 100%;
    }

    .menu-items li{
        width: auto;
    }

    .menu-items a {
        font-size: 1.2rem;
    }

    .menu-items.active {
        top: 120px;
    }

}


/* TABLETS */

@media screen and (min-width: 860px) {

    .line {
        display: none;
    }
    .search-icon:hover {
        fill: var(--cor_ciano);
        transition: .3s;
        transform: scale(1.1);
    }

    .navbar{
        border-radius: 0 0 5% 5% / 0 0 100% 100%;
    }

    .menu-burger {
        display: none;
    }
    
    .menu-items {
        position: static;
        width: auto;
        height: auto;
        
        display: flex;
        flex-direction: row;
        
        background-color: transparent;
        padding: 0;
        border-top-right-radius: 0;
        opacity: 1;
        pointer-events: all;
    }

    /* .menu-items li{

    } */

    .menu-items a {
        border-bottom: none;
        width: auto;
        padding: 5px;
    }


    .menu-items::before {
        display: none;
    }


    .overlay {
        display: none;
    }

}

/* DESKTOPS */

@media screen and (min-width: 1024px) {

    .top-btn {
        display: block;
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--cor_ciano);
        border-radius: 50%;
        padding: 5px;

    }

    .menu-items{
        gap: 40px;
    }

    .menu-items a {
        cursor: pointer;
        
        padding: 5px;
        border-radius: 0px 0px 10% 10%;
    }

    .menu-items a:hover {
        opacity: 0.6;
        transition: .2s ease-in-out;
    }

    
    .card:hover {
        font-size: 0px;
        background-position: center;
        transition: background-position 5s ease-out;
    }

    .section:has(.card-1:hover) .card-1 span, 
    .section:has(.card-2:hover) .card-2 span, 
    .section:has(.card-3:hover) .card-3 span,
    .section:has(.card-4:hover) .card-4 span {
        font-size: 0px;

    } 

    .social-medias img:hover {
        box-shadow: 0px 0px 5px var(--cor_ciano);
        border-radius: 5px;
        padding: 5px; 
    }

    
}
