@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

:root {
    --cor_ciano: #4ffcff;
}

body {
    height: 100vh;
    background-color: rgb(0, 17, 17);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    display: flex;
    justify-content: center;
    width: 100%;
}


.logo-mobile {
    display: none;
}

.menu-burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.menu-burger span {
    width: 27px;
    height: 2.5px;
    background-color: white;
}


.logo {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar { 
    max-width: 1200px;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    padding: 16px 20px 20px 20px;
    border-radius: 0% 0% 10% 10%;
}

.search-icon {
    display: block;
    width: 36px;
    height: 36px;
    fill: white;
    cursor: pointer;
    padding: 10px;
}

.search-icon:hover {
    fill: var(--cor_ciano);
    transition: .3s;
    transform: scale(1.1);
}

.menu-items {
    display: flex;
    gap: 30px; 
}

.menu-items a {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 0px 0px 10% 10%;
}

.menu-items a:hover {
    color: var(--cor_ciano);
    border-bottom: 1px solid var(--cor_ciano);
    padding-top: 8px;
    transition: .4s ease-in-out;
}

/* SECTIONS */

.section {
    z-index: 1;
    /* padding: 20px;  */
}

.shadow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90dvh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), transparent, transparent, rgb(0, 8, 8));
    z-index: 2;
    box-shadow: inset 0px -2px 10px rgb(0, 26, 26);
    pointer-events: none;
}

.hero-section {  
    background-image: url(../images/banner-hero1920x1080.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 90dvh;
    display: flex;
    align-items: center;
    /* padding-top: 150px; */
    justify-content: center; 
}



.hero-content {
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50%;
    /* background-color: rgb(114, 114, 114); */
}

/* .hero-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    width: 100%;
    background-color: #7e00008f;
} */

.hero-title {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--cor_ciano); 
}

.hero-title span {
    display: block;
    font-size: clamp(3rem, 15vw, 10rem);
    margin-top: -10px;
}

.hero-paragraph {
    font-size: clamp(0.8rem, 2vw, 1rem);
    max-width: 80%;
    line-height: 1.3rem;
}

.hero-btn {
    border: 2px solid var(--cor_ciano);
    backdrop-filter: blur(2px);
    padding: 10px; 
    margin-top: 30px;

    max-width: 300px;
    height: 60px;
    width: 80%;

    font-size: clamp(0.9rem, 2vw, 1.5rem);
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    background: linear-gradient(to right, var(--cor_ciano) 50%, transparent 50%);
    background-position: right;
    background-size: 200%;
    transition: background-position 0.4s ease-out, color 0.4s;
}

.hero-btn:hover {
    background-position: left bottom;
}

.tour-section {
    
    margin: 15px 0px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(0, 17, 17) ;
}

.tour-title {
    font-size: 1.8rem;
    color: var(--cor_ciano);
}

.card-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 50px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding-bottom: 20px;

    width: 250px;
    height: 350px;

    box-shadow: inset 0px 0px 5px black, 
    inset 0px 0px 15px rgba(255, 255, 255),
    inset 0px -80px 50px rgba(0, 0, 0, 0.6);

    transition: .3s;
    cursor: pointer;
}

.card span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.card:hover {
    box-shadow: inset 0px 0px 7px black, 
    inset 0px 0px 0px rgb(255, 255, 255);
    height: 250px;
    transform: scale(1.5);
    font-size: 0px;
    border-radius: 50%;
}

.section:has(.card-1:hover) .card-1 span, 
.section:has(.card-2:hover) .card-2 span, 
.section:has(.card-3:hover) .card-3 span,
.section:has(.card-4:hover) .card-4 span {
    font-size: 0px;
} 

.card-title, 
.card span {
    /* display: inline-block;
    background-color: var(--cor_ciano);
    text-align: center;
    width: 100%; */
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.card-1 {
    background-image: url(../images/cards/card-1.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;  
}
.card-2 {
    background-image: url(../images/cards/card-2.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;   
}
.card-3 {
    background-image: url(../images/cards/card-3.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;   
}
.card-4 {
    background-image: url(../images/cards/card-4.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;  
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    margin: 15px 0px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 600px;
    width: 90%;
    
    text-align: center; 
}

.about-title {
    color: var(--cor_ciano);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    background-color: rgb(0, 0, 0);
}

.social-medias {
    display: flex;
    gap: 30px;
}

.social-medias img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.social-medias img:hover {
    box-shadow: 0px 0px 5px var(--cor_ciano);
    border-radius: 5px;
    padding: 5px; 
}

/* OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 800;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

body:has(.menu-burger.active) .overlay {
    opacity: 1;
    pointer-events: all;   
}

body:has(.menu-burger.active){
    overflow: hidden;
}

@media screen and (max-width: 880px) {

    .menu-burger.active .overflow {
        opacity: 1;
        pointer-events: all;
    }

    .menu-burger {
        display: flex;
        z-index: 3;
        position: relative;
        z-index: 1000;
    }

    .menu-burger.active {
        padding: 15px 8px;  
    }

    .menu-burger.active span:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);  
    }
    .menu-burger.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-burger.active span:nth-child(3) {
        position: absolute;
        transform: rotate(135deg);
    }

    .menu-items {
        flex-direction: column;
        gap: 30px;
        justify-content: start;
        align-items: start;
        position: fixed;
        top: -50px;
        left: -100%;
        width: 65vw;
        height: 100vh;

        padding: 90px 20px 20px 50px;
        background-color: rgb(0, 0, 0);
        
        
        border-top-right-radius: 20%;
        opacity:0;

        pointer-events: none;
        transition: .3s;
    }

    .menu-items::before {
        content: '';
        position: absolute;
        top: -100px; /* Tamanho do raio */
        left: 0px;
        width: 90%;
        height: 100px;
        background-color: transparent;
        /* Cria o canto invertido com box-shadow */
        border-bottom-left-radius: 25%;
        
        box-shadow: -70px 15px 0 0 rgb(0, 0, 0); /* Cor igual ao fundo */
    }

    .menu-items.active {
        top: 110px;
        pointer-events: all;
        opacity: 1;
        left: 0;
        
    }

    .menu-items a {
        font-size: 1.1rem;
        
    }

    .hero-container {
        max-width: 100%;
        text-align: center;
    }

    .section:has(.card-1:hover) .card-1 span, 
    .section:has(.card-2:hover) .card-2 span, 
    .section:has(.card-3:hover) .card-3 span,
    .section:has(.card-4:hover) .card-4 span {
        font-size: 0.8rem;
    } 

    .card:hover {
        box-shadow: inset 0px 0px 7px black, 
        inset 0px 0px 0px rgb(255, 255, 255);
        height: 350px;
        transform: scale(1);
        font-size: 1rem;
        border-radius: 0;
    }
  
}


@media screen and (max-width: 322px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

   .logo {
        order: -1;
    }

    .menu-items {
        padding-left: 20px;
    }

    .menu-items a {
        font-size: 0.9rem
    }

    .menu-items.active {
        top: 25%;
        width: 80%; 
    }

    .menu-items::before {
        border-bottom-left-radius: 21%;
    }


}