@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

:root {
    --cor_ciano: #27fbff;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.container {
    height: 100%;
    background-image: url(/assets/images/back-section\ 1600-900.jpg) ;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    z-index: 1;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), transparent 50%, rgba(0, 0, 0));
    z-index: -1;
}

.header, .main, .footer, .hero-section {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header {
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    padding: 16px 20px 30px 20px;
    border-radius: 0% 0% 30% 30%;
    margin-bottom: 20px;
}

.logo-mobile {
    display: none;
}

.menu-burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.menu-burger span {
    width: 27px;
    height: 2.5px;
    background-color: white;
}

.navbar, .menu-items, .hero-section {
    display: flex;
}

.logo {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar { 
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.search-icon {
    display: block;
    width: 36px;
    height: 36px;
    fill: white;
    cursor: pointer;
    padding: 10px;
}

.search-icon:hover {
    fill: var(--cor_ciano);
    transition: .3s;
    transform: scale(1.1);
}

.menu-items {
    gap: 30px; 
}

.menu-items a {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 0px 0px 10% 10%;
}

.menu-items a:hover {
    color: var(--cor_ciano);
    border-bottom: 1px solid var(--cor_ciano);
    padding-top: 8px;
    transition: .4s ease-in-out;
}

/* BANNER HOME */

.hero-section {
    height: 80vh;
    padding: 50px 20px;
    background-color: rgba(240, 248, 255, 0.384);
}

.hero-content {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    max-width: 50%;
}

.hero-title {
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--cor_ciano);   
}

.hero-paragraph {
    line-height: 1.5rem;
}

/* SECTIONS */


.about-section {
    background-color: rgb(68, 68, 68);
    height: 100vh;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
}

.social-medias {
    display: flex;
    gap: 30px;
}

.social-medias img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.social-medias img:hover {
    box-shadow: 0px 0px 5px var(--cor_ciano);
    border-radius: 5px;
    padding: 5px; 
}

/* OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

body:has(.menu-burger.active) .overlay {
    opacity: 1;
    pointer-events: all;   
}

body:has(.menu-burger.active){
    overflow: hidden;
}

@media screen and (max-width: 875px) {

    .menu-burger.active .overflow {
        opacity: 1;
        pointer-events: all;
    }

    .menu-burger {
        display: flex;
        z-index: 3;
        position: relative;
        z-index: 1000;
    }

    .menu-items {
        flex-direction: column;
    }

    .menu-burger.active {
        padding: 15px 8px;  
    }

    .menu-burger.active span:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);  
    }
    .menu-burger.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-burger.active span:nth-child(3) {
        position: absolute;
        transform: rotate(135deg);
    }

    .menu-items {
        gap: 30px;
        justify-content: start;
        align-items: start;
        position: fixed;
        top: -110px;
        left: -100%;
        width: 65vw;
        height: 100vh;

        padding: 90px 20px 20px 50px;
        background-color: rgb(0, 0, 0);
        
        z-index: 999;
        border-top-right-radius: 20%;
        opacity:0;

        pointer-events: none;
        transition: .3s;
    }

    .menu-items::before {
        content: '';
        position: absolute;
        top: -100px; /* Tamanho do raio */
        left: 0px;
        width: 90%;
        height: 100px;
        background-color: transparent;
        /* Cria o canto invertido com box-shadow */
        border-bottom-left-radius: 50%;
        
        box-shadow: -70px 15px 0 0 rgb(0, 0, 0); /* Cor igual ao fundo */
    }

    .menu-items.active {
        top: 110px;
        pointer-events: all;
        opacity: 1;
        left: 0;
    }

    .menu-items a {
        font-size: 1.1rem;
        
    }

    .menu-items a:hover {
        padding: 0px 10px 10px 20px;
        border-radius: 0px 0px 20% 0px;
        transition: .3s;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
    }
    
}


@media screen and (max-width: 322px) {
    .navbar {
        flex-direction: column;
        gap: 20px;

    }

   .logo {
        order: -1;
    }

     .menu-items.active {
        top: 23%;
        width: 75%;  
        
    }

}